 .header{
        border-bottom: solid rgb(202, 200, 200);
        background-color: rgb(0, 0, 0);
      }
      .navmenu{
        text-align: center;
      }

      .navmenu a{
        display: inline-block;
        font-size: 30px;
        text-decoration: none;
        margin: 20px 30px;  
        border-radius: 8px;
        transition: background-color 0.4s ease, transform 0.3s ease;
        cursor: pointer;
        color:rgb(255, 255, 255);
        padding: 20px 20px;
        animation: swing 4s ease-in-out infinite;
         text-shadow: 
         0 0 5px #fff,
         0 0 10px #fff,
         0 0 20px #fff,
         0 0 40px #fff,
         0 0 80px #fff;

  }

    a:hover {
      background-color: rgba(150, 150, 150, 0.3);
      transform: scale(1.05); 
    }
    h1{
      display:inline-block;
      font-family:'Poppins';
      color: rgb(255, 255, 255);
      font-size: 50px;
      animation: smoothSwing 4s ease-in-out infinite;
      text-shadow: 
       0 0 5px #fff,
       0 0 10px #fff,
       0 0 20px #fff,
       0 0 40px #fff,
       0 0 80px #fff;

    }    
     body{
      background-color: black;
     }

     .h1{
      text-align: center;
     }

     @keyframes swing {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

  nav a:nth-child(1) {
  animation-delay: 0s; 
}
nav a:nth-child(2) {
  animation-delay: 1s;  
}
nav a:nth-child(3) {
  animation-delay: 2s;   
}
    
     @keyframes smoothSwing {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
  .bagian1{
    text-align: center;
  }

  .img1{
    display: inline-block;
    object-fit: cover;
    width: 30%;
    animation: smoothSwing 4s ease-in-out infinite;
    border-radius: 40px;
    margin-left: 30%;
    
  }

  .text1{
    color: white;
    font-size: 30px;
    text-shadow:  
    0 0 10px #fff,
    0 0 10px #fff,
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 1px #fff;
    
  }

  .img1{
    animation-delay: 1s;
  }

  h2{
    text-align: center;
    color:rgb(255, 255, 255);
    text-shadow:
       0 0 10px #fff,
       0 0 10px #fff,
       0 0 1px #fff,
       0 0 1px #fff,
       0 0 1px #fff;
     animation: smoothSwing 4s ease-in-out infinite;
     margin-top: 30px;
     border-bottom: solid blue;
     width: 60%;
     margin: auto;
     padding: 30px;
     margin-top: 50px;
     margin-bottom: 50px;
     font-size: 50px;

  }

  h2{
    animation-delay: 2s;
  }
  .biodata{
    text-align: center;
    font-size: 80px;
    margin: auto;
  }
  
  .biodata2{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  .divbio{
    display: inline-block;
    margin-right: 20%;
     animation: smoothSwing 4s ease-in-out infinite;
  }
.divbio{
  animation-delay: 1s;
}

.pendidikan{
  margin: auto;
  text-align: center;
  border-top: solid white;
  width: 50%;
}

.divpen{
  margin-top: 100px;
  text-align: center;
}

.footer{
  display: flex;
  justify-content: space-between;
  background-color: black;
  max-width: 1300px;
  margin: auto;
  border: solid white 1px;
  padding: 20px 30px;
  gap: 30px;
}

.about{
  color: white;
}
  
.about h3{
  font-size: 30px;
}

.footer-social{
  color: #fff;
  font-size: larger;
}

.footer-social .social-icons{
  display:flex;
  gap: 15px;
  margin-top: 10px;
}

.social-icon {
  color:black;
  background: white;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.social-icon:hover {
  background: #ffd369;
  color: #1e1e2f;
  transform: translateY(-4px);
  box-shadow: 0 0 10px #ffd369;
}

.contact{
  color: #fff;
  font-size: 50px;
}

.contact p{
  color: #fff;
  text-decoration: none;
}

.footer-contact p{
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.footer-contact a{
  color: #ffd369;
  text-decoration: none;
}

.pen1{
  border: solid white 1px;
  margin-top: 50px;
}

.img2{
  width: 30%;
}

.foto1{
  display: flex;
  justify-content: space-between;
  padding: 0 30%;
  margin-bottom: 40px;
}

.foto1 p{
  max-width: 500px;
  margin-top: 100px;
}

.pen2{
  border: solid 1px;
}

.pen3{
  border: solid 1px;
}

.sintesa{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sintesa img{
  width: 40%;
  margin: 20px 20px;
  
}

